/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;

  h2 {
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  .btn-empleo {
    background-color: #138aec;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }
}

/* main hero */
.hero {
  height: 650px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #123456;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h1 {
    color: #fff;
    font-size: 3.2rem;
    padding-top: 36px;
    width: 800px;
  }

  p {
    font-size: 1.25rem;
    text-align: center;
    width: 650px;
    color: #fff;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
  }

  form {
    max-width: 42rem;
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.5rem;

    input {
      flex: 1;
      background: transparent;
      border: none;
      font-size: 1.1rem;
      font-family: inherit;
      padding: 1rem 0.5rem;

      &::placeholder{
        color: rgba(0, 0, 0, 0.651);
      }

      &:focus-visible{
        outline: none;
      }

    }

    button{
        padding: 0.7rem 1.2rem;
        font-size: 1rem;
        border: none;
        border-radius: 10px;
        background-color: #138aec;
        color: #fff;
    }
  }
}

/* seccion empleos */

.empleos{
    background-color: #f5f5f5;

    h2{
        font-size: 2rem;
        padding: 2.5rem;
        padding-top: 4rem;
    }
}

/* seccion items */

.container-items{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
  padding: 0 2rem;

  article{

    img{
        width: 100%;
        border-radius: 15px;
    }

    h4{
        padding-top: 1rem;
        font-size: 1.1rem;
    }

    p{
        color: #50595f;
    }
  }
}

/* seccion about */

.about{
    background-color: #f5f5f5;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 233, 233);

    h2{
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }

    p{
        font-size: 1.2rem;
        width: 870px;
        text-align: center;
    }
}

/* footer */

footer{
    background-color: #f5f5f5;
    font-size: 1.2rem;
    padding: 2rem 0;
    text-align: center;
}

/* ------------------------------------------ */