.header-empleos {
  border-bottom: 1px solid #138aec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;

  h2 {
    font-size: 1.25rem;
  }

  a {
    text-decoration: none;
    color: gray;
  }

  .btn-empleo {
    background-color: #138aec;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
  }

  .asd{
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .buscador{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 8px;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #138aec;


    input{
        padding: 0.5rem;
        font-size: 1.1rem;
        border: none;

        &:focus-visible{
            outline: none;
        }
    }
  }
}

main{
    display: flex;
    padding: 2rem;
}

.filters{
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;

    h3{
        font-size: 1.5rem;
        padding-top: 0.5rem;
        padding-bottom: 2rem;
    }

    button{
        margin-top: 1rem;
        padding: 0.5rem 0;
        background-color: #138aec;
        border: none;
        border-radius: 10px;
        color: #fff;
        font-size: 1rem;
    }
}

.group-select{
    padding: 0.5rem 0;

    p{
        font-size: 0.9rem;
    }

    select{
        padding: 0.3rem 0;
        padding-right: 4rem;
        padding-left: 0.3rem;
        width: 100%;
        border: 1px solid #138aec;
        border-radius: 5px;
    }


}

.search-results{
    flex: 1;
    padding-left: 3rem;

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
    }

    .filters-values{
        display: flex;
        gap: 1rem;
        padding: 1rem 0;

        p{
            border-radius: 20px;
            padding: 0.2rem 0.6rem;
            font-size: 0.8rem;
            background-color: #dfebf6;
            color: #138aec;

            span{
                padding-left: 0.1rem;
            }

        }

    }
}

.sort-by{
    padding: 1rem;
    border: 1px solid #138aec;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    
    h4{
        padding-bottom: 1rem;
    }

    label{
        padding-right: 0.5rem;
    }
}

article{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #138aec;
    border-radius: 10px;
    padding: 1.2rem 1rem;
    margin-bottom: 1.5rem;

    h5{ 
        color: #138aec;
    }

    p{
        font-size: 0.9rem;
        color: #555f6c;
        padding-bottom: 1rem;
    }

    button{
        padding: 0.5rem 0.7rem;
        background-color: #bbdcfa;
        border-radius: 10px;
        color: #138aec;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }

    img{
        margin-bottom: 1rem;
        border-radius: 10px;
    }

}

.btn-apply-job{
    &.is-applied{
        background-color: #4caf50;
        color: #ddd;
        pointer-events: none;
    }
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block: 2rem;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: black;
        font-weight: 400;
        border-radius: 0.375rem;
        transition: all .3s;

        &:hover, &:focus{
            background-color: #bbdcfa;
        }

        &:active{
            transform: scale(0.90);
        }

        &.is-active{
            pointer-events: none;
            background-color: #138aec;
            color: white;
        }
    }
}