.about{
    background-color: #f5f5f5;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(238, 233, 233);

    h2{
        font-size: 2.3rem;
        padding-bottom: 1rem;
    }

    p{
        font-size: 1.2rem;
        width: 870px;
        text-align: center;
    }
}