.header-empleos {
  border-bottom: 1px solid #138aec;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;

  .navbar-container{
    display: flex;
    align-items: center;
  }


  h2 {
    font-size: 1.25rem;
    color: #138aec;

    svg{
        vertical-align: middle;
        padding-bottom: 0.2rem;
    }
  }

  nav{
    padding-left: 1rem;
  }

  a {
    text-decoration: none;
    color: #000;
    padding: 0 0.6rem;
    font-size: 1.1rem;
  }

  .btn-empleo {
    background-color: #138aec;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    padding: 0.6rem 1rem;
  }

  .buscador-container{
    border-radius: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .buscador{
    display: flex;
    align-items: center;
    flex: 1;
    border-radius: 8px;
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #138aec;

    svg{
        color: #888;
    }

    input{
        padding: 0.5rem;
        border: none;

        &:focus-visible{
            outline: none;
        }
    }
  }
}