.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-block: 2rem;

    a{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        text-decoration: none;
        color: black;
        font-weight: 400;
        border-radius: 0.375rem;
        transition: all .3s;

        &:hover, &:focus{
            background-color: #bbdcfa;
        }

        &:active{
            transform: scale(0.90);
        }

        &.is-active{
            pointer-events: none;
            background-color: #138aec;
            color: white;
        }
    }
}